// ***** SECTION-4 STYLING ******
.section-4{
    height: 100vh;
    width: 100%;
    background-color: #222;
    padding: 7rem;

    .about-heading{
        font-size: 6rem;
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #eee;
        margin-top: 2rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        text-shadow: 0.3rem 0.3rem 0.3rem #000;
    }

    .about-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .store-info{
            height: 100%;
            width: 70%;
            background: linear-gradient(to right,#222,#333);
            text-align: center;
            margin: 2rem 1rem;
            border-radius: 3rem;
            box-shadow: 1rem 1rem 1.5rem #000;
            padding: 0 3rem;

            .store-name{
                font-size: 3rem;
                letter-spacing: 0.3rem;
                word-spacing: 1rem;
                text-transform: capitalize;
                color: #fff;
                margin-top: 1rem;
                font-family: sans-serif;
            }

            .store-para{
                color: #eee;
                font-size: 2rem;
                padding: 1.5rem 0;
                text-align: left;
            }
        }

        .author-info{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 70%;
            margin-top: 3rem;

            .author-img{
                width: 368px;
                height: 230px;
                object-fit: cover;
                margin: 1rem 2rem;
                border-radius: 1.5rem;
            }
            .author-bio{
                display: flex;
                flex-direction: column;

                .author-name{
                    color: #eee;
                    font-size: 3rem;
                    text-transform: uppercase;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    margin: 2rem 0;
                    text-shadow: 0.3rem 0.3rem 0.6rem #000;
                    letter-spacing: 0.2rem;
                    word-spacing: 0.5rem;

                }
                .author-para{
                    font-size: 2rem;
                    font-family: sans-serif;
                    text-shadow: 0.2rem 0.2rem 0.4rem #000;
                    color: #fff;
                }
            }
        }
    }
}